---
import BrandLogo from '@components/BrandLogo.astro';
import docsLogo from '@images/starlight/docs_logo.svg?raw';

const main = 'https://4mina.app';
const docs = '/';
---

<span class="site-title flex">
  <a
    class="main-logo"
    href={main}
    rel="noopener noreferrer"
    target="_blank"
    aria-label="Amina"
  >
    <BrandLogo class="h-8 w-auto" />
  </a>
  <a
    class="docs-logo"
    href={docs}
    set:html={docsLogo}
    aria-label="Amina Docs"
  />
</span>

<style>
  .site-title {
    gap: 1rem;
    margin-right: 1rem;
  }
  .site-title a {
    display: flex;
    transition: transform var(--transition-base);
  }

  .flex {
    display: flex;
    align-items: center;
  }
  .site-title a:focus-visible {
    outline: 0;
  }
  .site-title a:focus-visible > :global(*) {
    transform: translateY(calc(0.1rem * -1));
    transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1);
    filter: drop-shadow(var(--glow-crimson));
  }

  .site-title :global(svg) {
    width: auto;
    height: auto;
  }
  .site-title a:hover :global(svg) {
    transform: translateY(calc(0.1rem * -1));
    transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1);
    filter: drop-shadow(var(--glow-crimson));
  }

  .site-title a:hover :global(img) {
    transform: translateY(calc(0.1rem * -1));
    transition: transform 250ms cubic-bezier(0.33, 1, 0.68, 1);
    filter: drop-shadow(var(--glow-crimson));
  }
</style>
